<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOlt7InNvdXJjZUNvbnRyb2wiOlt7ImlkZW50aXR5
		Ijoia2luZ2Zpc2hlciIsImxvY2F0aW9uIjp7InJlbW90ZSI6WyJodHRwczpc
		L1wvZ2l0aHViLmNvbVwvb25ldmNhdFwvS2luZ2Zpc2hlci5naXQiXX0sInBy
		b2R1Y3RGaWx0ZXIiOm51bGwsInJlcXVpcmVtZW50Ijp7InJhbmdlIjpbeyJs
		b3dlckJvdW5kIjoiNy4yLjQiLCJ1cHBlckJvdW5kIjoiOC4wLjAifV19fV19
		LHsic291cmNlQ29udHJvbCI6W3siaWRlbnRpdHkiOiJ3YXRlcmZhbGxncmlk
		IiwibG9jYXRpb24iOnsicmVtb3RlIjpbImh0dHBzOlwvXC9naXRodWIuY29t
		XC9wYW9sb2xlb25hcmRpXC9XYXRlcmZhbGxHcmlkLmdpdCJdfSwicHJvZHVj
		dEZpbHRlciI6bnVsbCwicmVxdWlyZW1lbnQiOnsicmFuZ2UiOlt7Imxvd2Vy
		Qm91bmQiOiIxLjAuMSIsInVwcGVyQm91bmQiOiIyLjAuMCJ9XX19XX0seyJz
		b3VyY2VDb250cm9sIjpbeyJpZGVudGl0eSI6InNrZWxldG9udWkiLCJsb2Nh
		dGlvbiI6eyJyZW1vdGUiOlsiaHR0cHM6XC9cL2dpdGh1Yi5jb21cL0NTb2xh
		bmFNXC9Ta2VsZXRvblVJLmdpdCJdfSwicHJvZHVjdEZpbHRlciI6bnVsbCwi
		cmVxdWlyZW1lbnQiOnsicmFuZ2UiOlt7Imxvd2VyQm91bmQiOiIxLjAuOSIs
		InVwcGVyQm91bmQiOiIyLjAuMCJ9XX19XX0seyJzb3VyY2VDb250cm9sIjpb
		eyJpZGVudGl0eSI6InN3aWZ0eWZpbmFuY2UiLCJsb2NhdGlvbiI6eyJyZW1v
		dGUiOlsiaHR0cHM6XC9cL2dpdGh1Yi5jb21cL0FsZXhSb2FyXC9Td2lmdFlG
		aW5hbmNlIl19LCJwcm9kdWN0RmlsdGVyIjpudWxsLCJyZXF1aXJlbWVudCI6
		eyJyYW5nZSI6W3sibG93ZXJCb3VuZCI6IjEuNS4wIiwidXBwZXJCb3VuZCI6
		IjIuMC4wIn1dfX1dfSx7InNvdXJjZUNvbnRyb2wiOlt7ImlkZW50aXR5Ijoi
		bG90dGllLWlvcyIsImxvY2F0aW9uIjp7InJlbW90ZSI6WyJodHRwczpcL1wv
		Z2l0aHViLmNvbVwvYWlyYm5iXC9sb3R0aWUtaW9zLmdpdCJdfSwicHJvZHVj
		dEZpbHRlciI6bnVsbCwicmVxdWlyZW1lbnQiOnsicmFuZ2UiOlt7Imxvd2Vy
		Qm91bmQiOiI0LjAuMSIsInVwcGVyQm91bmQiOiI1LjAuMCJ9XX19XX1dLCJk
		aXNwbGF5TmFtZSI6IkdvbGRpbG9ja3MgQ2Fybml2YWwiLCJwYWNrYWdlS2lu
		ZCI6eyJyb290Ijp7fX0sInBsYXRmb3JtcyI6W3sib3B0aW9ucyI6W10sInBs
		YXRmb3JtTmFtZSI6ImlvcyIsInZlcnNpb24iOiIxNS4yIn1dLCJwcm9kdWN0
		cyI6W3sibmFtZSI6IkdvbGRpbG9ja3MgQ2Fybml2YWwiLCJzZXR0aW5ncyI6
		W3siYnVuZGxlSWRlbnRpZmllciI6WyJjb20uZGFzc3kuY2Fybml2YWwiXX0s
		eyJ0ZWFtSWRlbnRpZmllciI6WyJWR0tDRDdROE5XIl19LHsiZGlzcGxheVZl
		cnNpb24iOlsiMS4wIl19LHsiYnVuZGxlVmVyc2lvbiI6WyI2Il19LHsiaU9T
		QXBwSW5mbyI6W3siYWNjZW50Q29sb3IiOnsicHJlc2V0Q29sb3IiOnsicHJl
		c2V0Q29sb3IiOnsicmF3VmFsdWUiOiJicm93biJ9fX0sImFwcENhdGVnb3J5
		Ijp7InJhd1ZhbHVlIjoicHVibGljLmFwcC1jYXRlZ29yeS5lZHVjYXRpb24i
		fSwiYXBwSWNvbiI6eyJhc3NldCI6eyJuYW1lIjoiQXBwSWNvbiJ9fSwiY2Fw
		YWJpbGl0aWVzIjpbXSwic3VwcG9ydGVkRGV2aWNlRmFtaWxpZXMiOlsicGFk
		IiwicGhvbmUiXSwic3VwcG9ydGVkSW50ZXJmYWNlT3JpZW50YXRpb25zIjpb
		eyJwb3J0cmFpdCI6e319LHsibGFuZHNjYXBlUmlnaHQiOnt9fSx7ImxhbmRz
		Y2FwZUxlZnQiOnt9fSx7InBvcnRyYWl0VXBzaWRlRG93biI6eyJjb25kaXRp
		b24iOnsiZGV2aWNlRmFtaWxpZXMiOlsicGFkIl19fX1dfV19XSwidGFyZ2V0
		cyI6WyJBcHBNb2R1bGUiXSwidHlwZSI6eyJleGVjdXRhYmxlIjpudWxsfX1d
		LCJ0YXJnZXRNYXAiOnsiQXBwTW9kdWxlIjp7ImRlcGVuZGVuY2llcyI6W3si
		cHJvZHVjdCI6WyJLaW5nZmlzaGVyIiwiS2luZ2Zpc2hlciIsbnVsbCxudWxs
		XX0seyJwcm9kdWN0IjpbIldhdGVyZmFsbEdyaWQiLCJXYXRlcmZhbGxHcmlk
		IixudWxsLG51bGxdfSx7InByb2R1Y3QiOlsiU2tlbGV0b25VSSIsIlNrZWxl
		dG9uVUkiLG51bGwsbnVsbF19LHsicHJvZHVjdCI6WyJTd2lmdFlGaW5hbmNl
		IiwiU3dpZnRZRmluYW5jZSIsbnVsbCxudWxsXX0seyJwcm9kdWN0IjpbIkxv
		dHRpZSIsImxvdHRpZS1pb3MiLG51bGwsbnVsbF19XSwiZXhjbHVkZSI6W10s
		Im5hbWUiOiJBcHBNb2R1bGUiLCJwYXRoIjoiLiIsInJlc291cmNlcyI6W3si
		cGF0aCI6IlJlc291cmNlcyIsInJ1bGUiOnsicHJvY2VzcyI6e319fV0sInNl
		dHRpbmdzIjpbXSwidHlwZSI6ImV4ZWN1dGFibGUifX0sInRhcmdldHMiOlt7
		ImRlcGVuZGVuY2llcyI6W3sicHJvZHVjdCI6WyJLaW5nZmlzaGVyIiwiS2lu
		Z2Zpc2hlciIsbnVsbCxudWxsXX0seyJwcm9kdWN0IjpbIldhdGVyZmFsbEdy
		aWQiLCJXYXRlcmZhbGxHcmlkIixudWxsLG51bGxdfSx7InByb2R1Y3QiOlsi
		U2tlbGV0b25VSSIsIlNrZWxldG9uVUkiLG51bGwsbnVsbF19LHsicHJvZHVj
		dCI6WyJTd2lmdFlGaW5hbmNlIiwiU3dpZnRZRmluYW5jZSIsbnVsbCxudWxs
		XX0seyJwcm9kdWN0IjpbIkxvdHRpZSIsImxvdHRpZS1pb3MiLG51bGwsbnVs
		bF19XSwiZXhjbHVkZSI6W10sIm5hbWUiOiJBcHBNb2R1bGUiLCJwYXRoIjoi
		LiIsInJlc291cmNlcyI6W3sicGF0aCI6IlJlc291cmNlcyIsInJ1bGUiOnsi
		cHJvY2VzcyI6e319fV0sInNldHRpbmdzIjpbXSwidHlwZSI6ImV4ZWN1dGFi
		bGUifV0sInRvb2xzVmVyc2lvbiI6eyJfdmVyc2lvbiI6IjUuNi4wIn19
		</data>
		<key>manifestHash</key>
		<data>
		CSd1gpgKcro+M48N+02lFXOKN1ZEtJxU1EW0PZ2NWEs=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>5.7.1</string>
	</dict>
</dict>
</plist>
