<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOlt7InNvdXJjZUNvbnRyb2wiOlt7ImlkZW50aXR5
		Ijoia2luZ2Zpc2hlciIsImxvY2F0aW9uIjp7InJlbW90ZSI6WyJodHRwczpc
		L1wvZ2l0aHViLmNvbVwvb25ldmNhdFwvS2luZ2Zpc2hlci5naXQiXX0sInBy
		b2R1Y3RGaWx0ZXIiOm51bGwsInJlcXVpcmVtZW50Ijp7InJhbmdlIjpbeyJs
		b3dlckJvdW5kIjoiNy4yLjQiLCJ1cHBlckJvdW5kIjoiOC4wLjAifV19fV19
		LHsic291cmNlQ29udHJvbCI6W3siaWRlbnRpdHkiOiJ3YXRlcmZhbGxncmlk
		IiwibG9jYXRpb24iOnsicmVtb3RlIjpbImh0dHBzOlwvXC9naXRodWIuY29t
		XC9wYW9sb2xlb25hcmRpXC9XYXRlcmZhbGxHcmlkLmdpdCJdfSwicHJvZHVj
		dEZpbHRlciI6bnVsbCwicmVxdWlyZW1lbnQiOnsicmFuZ2UiOlt7Imxvd2Vy
		Qm91bmQiOiIxLjAuMSIsInVwcGVyQm91bmQiOiIyLjAuMCJ9XX19XX0seyJz
		b3VyY2VDb250cm9sIjpbeyJpZGVudGl0eSI6InNrZWxldG9udWkiLCJsb2Nh
		dGlvbiI6eyJyZW1vdGUiOlsiaHR0cHM6XC9cL2dpdGh1Yi5jb21cL0NTb2xh
		bmFNXC9Ta2VsZXRvblVJLmdpdCJdfSwicHJvZHVjdEZpbHRlciI6bnVsbCwi
		cmVxdWlyZW1lbnQiOnsicmFuZ2UiOlt7Imxvd2VyQm91bmQiOiIxLjAuOSIs
		InVwcGVyQm91bmQiOiIyLjAuMCJ9XX19XX0seyJzb3VyY2VDb250cm9sIjpb
		eyJpZGVudGl0eSI6ImxvdHRpZS1pb3MiLCJsb2NhdGlvbiI6eyJyZW1vdGUi
		OlsiaHR0cHM6XC9cL2dpdGh1Yi5jb21cL2FpcmJuYlwvbG90dGllLWlvcy5n
		aXQiXX0sInByb2R1Y3RGaWx0ZXIiOm51bGwsInJlcXVpcmVtZW50Ijp7InJh
		bmdlIjpbeyJsb3dlckJvdW5kIjoiNC4wLjEiLCJ1cHBlckJvdW5kIjoiNS4w
		LjAifV19fV19LHsic291cmNlQ29udHJvbCI6W3siaWRlbnRpdHkiOiJncmlk
		IiwibG9jYXRpb24iOnsicmVtb3RlIjpbImh0dHBzOlwvXC9naXRodWIuY29t
		XC9leHl0ZVwvR3JpZCJdfSwicHJvZHVjdEZpbHRlciI6bnVsbCwicmVxdWly
		ZW1lbnQiOnsicmFuZ2UiOlt7Imxvd2VyQm91bmQiOiIxLjQuMSIsInVwcGVy
		Qm91bmQiOiIyLjAuMCJ9XX19XX0seyJzb3VyY2VDb250cm9sIjpbeyJpZGVu
		dGl0eSI6InN3aWZ0c291cCIsImxvY2F0aW9uIjp7InJlbW90ZSI6WyJodHRw
		czpcL1wvZ2l0aHViLmNvbVwvc2NpbmZ1XC9Td2lmdFNvdXAuZ2l0Il19LCJw
		cm9kdWN0RmlsdGVyIjpudWxsLCJyZXF1aXJlbWVudCI6eyJyYW5nZSI6W3si
		bG93ZXJCb3VuZCI6IjIuNC4zIiwidXBwZXJCb3VuZCI6IjMuMC4wIn1dfX1d
		fSx7InNvdXJjZUNvbnRyb2wiOlt7ImlkZW50aXR5Ijoic3dpZnR5ZmluYW5j
		ZSIsImxvY2F0aW9uIjp7InJlbW90ZSI6WyJodHRwczpcL1wvZ2l0aHViLmNv
		bVwvQWxleFJvYXJcL1N3aWZ0WUZpbmFuY2UiXX0sInByb2R1Y3RGaWx0ZXIi
		Om51bGwsInJlcXVpcmVtZW50Ijp7InJhbmdlIjpbeyJsb3dlckJvdW5kIjoi
		Mi4wLjAiLCJ1cHBlckJvdW5kIjoiMy4wLjAifV19fV19XSwiZGlzcGxheU5h
		bWUiOiJHb2xkaWxvY2tzIENhcm5pdmFsIiwicGFja2FnZUtpbmQiOnsicm9v
		dCI6e319LCJwbGF0Zm9ybXMiOlt7Im9wdGlvbnMiOltdLCJwbGF0Zm9ybU5h
		bWUiOiJpb3MiLCJ2ZXJzaW9uIjoiMTUuMiJ9XSwicHJvZHVjdHMiOlt7Im5h
		bWUiOiJHb2xkaWxvY2tzIENhcm5pdmFsIiwic2V0dGluZ3MiOlt7ImJ1bmRs
		ZUlkZW50aWZpZXIiOlsiY29tLmRhc3N5LmNhcm5pdmFsIl19LHsidGVhbUlk
		ZW50aWZpZXIiOlsiVkdLQ0Q3UThOVyJdfSx7ImRpc3BsYXlWZXJzaW9uIjpb
		IjEuMCJdfSx7ImJ1bmRsZVZlcnNpb24iOlsiNiJdfSx7ImlPU0FwcEluZm8i
		Olt7ImFjY2VudENvbG9yIjp7InByZXNldENvbG9yIjp7InByZXNldENvbG9y
		Ijp7InJhd1ZhbHVlIjoiYnJvd24ifX19LCJhcHBDYXRlZ29yeSI6eyJyYXdW
		YWx1ZSI6InB1YmxpYy5hcHAtY2F0ZWdvcnkuZWR1Y2F0aW9uIn0sImFwcElj
		b24iOnsiYXNzZXQiOnsibmFtZSI6IkFwcEljb24ifX0sImNhcGFiaWxpdGll
		cyI6W10sInN1cHBvcnRlZERldmljZUZhbWlsaWVzIjpbInBhZCIsInBob25l
		Il0sInN1cHBvcnRlZEludGVyZmFjZU9yaWVudGF0aW9ucyI6W3sicG9ydHJh
		aXQiOnt9fSx7ImxhbmRzY2FwZVJpZ2h0Ijp7fX0seyJsYW5kc2NhcGVMZWZ0
		Ijp7fX0seyJwb3J0cmFpdFVwc2lkZURvd24iOnsiY29uZGl0aW9uIjp7ImRl
		dmljZUZhbWlsaWVzIjpbInBhZCJdfX19XX1dfV0sInRhcmdldHMiOlsiQXBw
		TW9kdWxlIl0sInR5cGUiOnsiZXhlY3V0YWJsZSI6bnVsbH19XSwidGFyZ2V0
		TWFwIjp7IkFwcE1vZHVsZSI6eyJkZXBlbmRlbmNpZXMiOlt7InByb2R1Y3Qi
		OlsiS2luZ2Zpc2hlciIsIktpbmdmaXNoZXIiLG51bGwsbnVsbF19LHsicHJv
		ZHVjdCI6WyJXYXRlcmZhbGxHcmlkIiwiV2F0ZXJmYWxsR3JpZCIsbnVsbCxu
		dWxsXX0seyJwcm9kdWN0IjpbIlNrZWxldG9uVUkiLCJTa2VsZXRvblVJIixu
		dWxsLG51bGxdfSx7InByb2R1Y3QiOlsiTG90dGllIiwibG90dGllLWlvcyIs
		bnVsbCxudWxsXX0seyJwcm9kdWN0IjpbIkV4eXRlR3JpZCIsIkdyaWQiLG51
		bGwsbnVsbF19LHsicHJvZHVjdCI6WyJTd2lmdFNvdXAiLCJTd2lmdFNvdXAi
		LG51bGwsbnVsbF19LHsicHJvZHVjdCI6WyJTd2lmdFlGaW5hbmNlIiwiU3dp
		ZnRZRmluYW5jZSIsbnVsbCxudWxsXX1dLCJleGNsdWRlIjpbXSwibmFtZSI6
		IkFwcE1vZHVsZSIsInBhdGgiOiIuIiwicmVzb3VyY2VzIjpbeyJwYXRoIjoi
		UmVzb3VyY2VzIiwicnVsZSI6eyJwcm9jZXNzIjp7fX19XSwic2V0dGluZ3Mi
		OltdLCJ0eXBlIjoiZXhlY3V0YWJsZSJ9fSwidGFyZ2V0cyI6W3siZGVwZW5k
		ZW5jaWVzIjpbeyJwcm9kdWN0IjpbIktpbmdmaXNoZXIiLCJLaW5nZmlzaGVy
		IixudWxsLG51bGxdfSx7InByb2R1Y3QiOlsiV2F0ZXJmYWxsR3JpZCIsIldh
		dGVyZmFsbEdyaWQiLG51bGwsbnVsbF19LHsicHJvZHVjdCI6WyJTa2VsZXRv
		blVJIiwiU2tlbGV0b25VSSIsbnVsbCxudWxsXX0seyJwcm9kdWN0IjpbIkxv
		dHRpZSIsImxvdHRpZS1pb3MiLG51bGwsbnVsbF19LHsicHJvZHVjdCI6WyJF
		eHl0ZUdyaWQiLCJHcmlkIixudWxsLG51bGxdfSx7InByb2R1Y3QiOlsiU3dp
		ZnRTb3VwIiwiU3dpZnRTb3VwIixudWxsLG51bGxdfSx7InByb2R1Y3QiOlsi
		U3dpZnRZRmluYW5jZSIsIlN3aWZ0WUZpbmFuY2UiLG51bGwsbnVsbF19XSwi
		ZXhjbHVkZSI6W10sIm5hbWUiOiJBcHBNb2R1bGUiLCJwYXRoIjoiLiIsInJl
		c291cmNlcyI6W3sicGF0aCI6IlJlc291cmNlcyIsInJ1bGUiOnsicHJvY2Vz
		cyI6e319fV0sInNldHRpbmdzIjpbXSwidHlwZSI6ImV4ZWN1dGFibGUifV0s
		InRvb2xzVmVyc2lvbiI6eyJfdmVyc2lvbiI6IjUuNi4wIn19
		</data>
		<key>manifestHash</key>
		<data>
		3QgM6/vWVFi4l2Zw0YZc0XojjhwMvwLH2656pHTXWz0=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>5.7.1</string>
	</dict>
</dict>
</plist>
