<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOlt7InNvdXJjZUNvbnRyb2wiOlt7ImlkZW50aXR5
		Ijoia2luZ2Zpc2hlciIsImxvY2F0aW9uIjp7InJlbW90ZSI6WyJodHRwczpc
		L1wvZ2l0aHViLmNvbVwvb25ldmNhdFwvS2luZ2Zpc2hlci5naXQiXX0sInBy
		b2R1Y3RGaWx0ZXIiOm51bGwsInJlcXVpcmVtZW50Ijp7InJhbmdlIjpbeyJs
		b3dlckJvdW5kIjoiNy4yLjQiLCJ1cHBlckJvdW5kIjoiOC4wLjAifV19fV19
		LHsic291cmNlQ29udHJvbCI6W3siaWRlbnRpdHkiOiJ3YXRlcmZhbGxncmlk
		IiwibG9jYXRpb24iOnsicmVtb3RlIjpbImh0dHBzOlwvXC9naXRodWIuY29t
		XC9wYW9sb2xlb25hcmRpXC9XYXRlcmZhbGxHcmlkLmdpdCJdfSwicHJvZHVj
		dEZpbHRlciI6bnVsbCwicmVxdWlyZW1lbnQiOnsicmFuZ2UiOlt7Imxvd2Vy
		Qm91bmQiOiIxLjAuMSIsInVwcGVyQm91bmQiOiIyLjAuMCJ9XX19XX0seyJz
		b3VyY2VDb250cm9sIjpbeyJpZGVudGl0eSI6InNrZWxldG9udWkiLCJsb2Nh
		dGlvbiI6eyJyZW1vdGUiOlsiaHR0cHM6XC9cL2dpdGh1Yi5jb21cL0NTb2xh
		bmFNXC9Ta2VsZXRvblVJLmdpdCJdfSwicHJvZHVjdEZpbHRlciI6bnVsbCwi
		cmVxdWlyZW1lbnQiOnsicmFuZ2UiOlt7Imxvd2VyQm91bmQiOiIxLjAuOSIs
		InVwcGVyQm91bmQiOiIyLjAuMCJ9XX19XX0seyJzb3VyY2VDb250cm9sIjpb
		eyJpZGVudGl0eSI6InN3aWZ0eWZpbmFuY2UiLCJsb2NhdGlvbiI6eyJyZW1v
		dGUiOlsiaHR0cHM6XC9cL2dpdGh1Yi5jb21cL0FsZXhSb2FyXC9Td2lmdFlG
		aW5hbmNlIl19LCJwcm9kdWN0RmlsdGVyIjpudWxsLCJyZXF1aXJlbWVudCI6
		eyJyYW5nZSI6W3sibG93ZXJCb3VuZCI6IjEuNS4wIiwidXBwZXJCb3VuZCI6
		IjIuMC4wIn1dfX1dfV0sImRpc3BsYXlOYW1lIjoiR29sZGlsb2NrcyBDYXJu
		aXZhbCIsInBhY2thZ2VLaW5kIjp7InJvb3QiOnt9fSwicGxhdGZvcm1zIjpb
		eyJvcHRpb25zIjpbXSwicGxhdGZvcm1OYW1lIjoiaW9zIiwidmVyc2lvbiI6
		IjE1LjIifV0sInByb2R1Y3RzIjpbeyJuYW1lIjoiR29sZGlsb2NrcyBDYXJu
		aXZhbCIsInNldHRpbmdzIjpbeyJidW5kbGVJZGVudGlmaWVyIjpbImNvbS5k
		YXNzeS5jYXJuaXZhbCJdfSx7InRlYW1JZGVudGlmaWVyIjpbIlZHS0NEN1E4
		TlciXX0seyJkaXNwbGF5VmVyc2lvbiI6WyIxLjAiXX0seyJidW5kbGVWZXJz
		aW9uIjpbIjYiXX0seyJpT1NBcHBJbmZvIjpbeyJhY2NlbnRDb2xvciI6eyJw
		cmVzZXRDb2xvciI6eyJwcmVzZXRDb2xvciI6eyJyYXdWYWx1ZSI6ImJyb3du
		In19fSwiYXBwQ2F0ZWdvcnkiOnsicmF3VmFsdWUiOiJwdWJsaWMuYXBwLWNh
		dGVnb3J5LmVkdWNhdGlvbiJ9LCJhcHBJY29uIjp7ImFzc2V0Ijp7Im5hbWUi
		OiJBcHBJY29uIn19LCJjYXBhYmlsaXRpZXMiOltdLCJzdXBwb3J0ZWREZXZp
		Y2VGYW1pbGllcyI6WyJwYWQiLCJwaG9uZSJdLCJzdXBwb3J0ZWRJbnRlcmZh
		Y2VPcmllbnRhdGlvbnMiOlt7InBvcnRyYWl0Ijp7fX0seyJsYW5kc2NhcGVS
		aWdodCI6e319LHsibGFuZHNjYXBlTGVmdCI6e319LHsicG9ydHJhaXRVcHNp
		ZGVEb3duIjp7ImNvbmRpdGlvbiI6eyJkZXZpY2VGYW1pbGllcyI6WyJwYWQi
		XX19fV19XX1dLCJ0YXJnZXRzIjpbIkFwcE1vZHVsZSJdLCJ0eXBlIjp7ImV4
		ZWN1dGFibGUiOm51bGx9fV0sInRhcmdldE1hcCI6eyJBcHBNb2R1bGUiOnsi
		ZGVwZW5kZW5jaWVzIjpbeyJwcm9kdWN0IjpbIktpbmdmaXNoZXIiLCJLaW5n
		ZmlzaGVyIixudWxsLG51bGxdfSx7InByb2R1Y3QiOlsiV2F0ZXJmYWxsR3Jp
		ZCIsIldhdGVyZmFsbEdyaWQiLG51bGwsbnVsbF19LHsicHJvZHVjdCI6WyJT
		a2VsZXRvblVJIiwiU2tlbGV0b25VSSIsbnVsbCxudWxsXX0seyJwcm9kdWN0
		IjpbIlN3aWZ0WUZpbmFuY2UiLCJTd2lmdFlGaW5hbmNlIixudWxsLG51bGxd
		fV0sImV4Y2x1ZGUiOltdLCJuYW1lIjoiQXBwTW9kdWxlIiwicGF0aCI6Ii4i
		LCJyZXNvdXJjZXMiOlt7InBhdGgiOiJSZXNvdXJjZXMiLCJydWxlIjp7InBy
		b2Nlc3MiOnt9fX1dLCJzZXR0aW5ncyI6W10sInR5cGUiOiJleGVjdXRhYmxl
		In19LCJ0YXJnZXRzIjpbeyJkZXBlbmRlbmNpZXMiOlt7InByb2R1Y3QiOlsi
		S2luZ2Zpc2hlciIsIktpbmdmaXNoZXIiLG51bGwsbnVsbF19LHsicHJvZHVj
		dCI6WyJXYXRlcmZhbGxHcmlkIiwiV2F0ZXJmYWxsR3JpZCIsbnVsbCxudWxs
		XX0seyJwcm9kdWN0IjpbIlNrZWxldG9uVUkiLCJTa2VsZXRvblVJIixudWxs
		LG51bGxdfSx7InByb2R1Y3QiOlsiU3dpZnRZRmluYW5jZSIsIlN3aWZ0WUZp
		bmFuY2UiLG51bGwsbnVsbF19XSwiZXhjbHVkZSI6W10sIm5hbWUiOiJBcHBN
		b2R1bGUiLCJwYXRoIjoiLiIsInJlc291cmNlcyI6W3sicGF0aCI6IlJlc291
		cmNlcyIsInJ1bGUiOnsicHJvY2VzcyI6e319fV0sInNldHRpbmdzIjpbXSwi
		dHlwZSI6ImV4ZWN1dGFibGUifV0sInRvb2xzVmVyc2lvbiI6eyJfdmVyc2lv
		biI6IjUuNi4wIn19
		</data>
		<key>manifestHash</key>
		<data>
		NumhK82hURqQgSbVOwraoP1LxF9eAPhpmi6q8VzecNo=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>5.7.1</string>
	</dict>
</dict>
</plist>
